<link rel="stylesheet" href="templates/login/login.css" type="text/css" />

<div class="div-login">
  <div class="div-lbl_login">
    <label class="lbl_heading">Log In</label>
  </div>
  <div class="div-txt_login form-group">
    <input type="email" id="txtlogin" class="form-control " placeholder="Username or Email" />
  </div>
  <div class="div-txt_pwd form-group ">
    <input type="password" id="txtpwd" class="form-control " placeholder="password" />
  </div>
  <div class="div-lbl_msg">
    <label id="lbl_msg" class="lbl_msg lbl_content">The verfication failed, please try again </label>
  </div>

  <div class="div-btn_login">
    <input type="button" id="btnlogin" class="btncorners" value="Login" />
  </div>
  <div class="div-bottom">
    <label class="lbl_forget lbl_content lbl_redirect_reset_pwd"> forget your password?</label>
  </div>
  <div class="div-bottom">
    <label class="lbl_newuser lbl_content">New to LocalBitCoins?</label>
    <label class="lbl_singup lbl_redirect_register_user lbl_content">Sign Up Now!</label>
  </div>
</div>