<link rel="stylesheet" href="templates/login/login.css" type="text/css" />
<form method="post" action="index.html">
		<div class="div-login">
			<div class="div-lbl_login">
				<label class="lbl_login">Log In</label>
			</div>
			<div class="div-txt_login">
				<input type="text" id="txtlogin" class="rcorner" placeholder= "Username or Email" />
			</div>
			<div class="div-txt_pwd ">
				<input type="password" id="txtpwd"  class="rcorner"  placeholder="password"/>
			</div>
			<div class="div-lbl_msg">
				<label class="lbl_msg">The verfication failed, please try again </label>
			</div>
			
			<div class="div-btn_login">
				<input type="submit" id="btnlogin" class="btncorners" value="Login"/>
			</div>
			<div class="div-forgetpwd">
				<label class="lbl_forget"> forget your password?</label>
			</div>
			<div class="div-newuser">
				<label class="lbl_newuser">New to LocalBitCoins?</label>
				<label class="lbl_singup">Sign Up Now!</label>
			</div>
		</div>
</form>