.rcorner{
    border-radius: 3px;
	background: #FFFFFF;
	border: 2px solid #DEDEDE;
    padding: 7px; 
    width:30%;
   
}
.btncorners{
    border-radius: 3px; 
	color:white;
	font-weight:bold;
	font-size:14px;
	background:#667BFA;
	border: 2px solid #337AB7;
    padding: 7px; 
}
.div-lbl_msg{
	margin-top:10px;
	font-weight:bold;
	font-size:17px;
	color:#A94442;
}
.lbl_msg{
		display: none;
}
input[type=text]:focus { 
	background: #FAFFBD;
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 8px #719ECE;
}
.div-btn_login{
	margin-top:10px;
}
.div-login{
	margin-left:10%;
	margin-top:40px;
}
.lbl_login{
	font-size:28px;
	font-weight:bold;
	color:black;
}
.div-lbl_login{
margin-top:30px;
}

.div-txt_pwd{
	margin-top:10px;
}
.div-txt_login{
	margin-top:10px;
}
.div-forgetpwd{
	
	margin-top:10px;
}
.lbl_forget{
	color:#6E82FA;
	font-size:17px;
}
.div-newuser{
	margin-top:10px;
}

.lbl_newuser{
	color:#63646E;
	font-size:17px;
}
.lbl_singup{
	color:#6E82FA;
	font-size:17px;
}