.rcorner {
  border-radius: 3px;
  background: #FFFFFF;
  border: 2px solid #DEDEDE;
  padding: 7px;
  width: 30%;
  font-size: 1.3em;
}

.btncorners {
  color: white;
  font-size: 14px;
  background: #667BFA;
}

.div-lbl_msg {
  font-weight: bold;
  color: #A94442;
}

.lbl_msg {
  display: none;
}

input[type=text]:focus {
  background: #FAFFBD;
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 8px #719ECE;
}

.div-btn_login {
  margin-top: 10px;
}

.div-login {
  width: 300px;
  margin-left: 10%;
  margin-top: 40px;
}

.lbl_login {
  font-size: 28px;
  font-weight: bold;
  color: black;
}

.div-lbl_login {
  margin-top: 30px;
}

.div-txt_pwd {
  margin-top: 10px;
}

.div-txt_login {
  margin-top: 10px;
}

.div-forgetpwd {
  margin-top: 10px;
}

.lbl_forget {
  color: #6E82FA;
}

.div-newuser {
  margin-top: 10px;
}

.lbl_newuser {
  color: #63646E;
}

.lbl_singup {
  color: #6E82FA;
}

.div-bottom {
  margin-top: 8px;
}

.error {
  border: 1px solid red;
  background: #e5d2d2;
  color: red;
}