.txtemail {
  width: 50%;
}

.wrapper_recover {
  width: 500px;
}

input[type=text]:focus {
  background: #FAFFBD;
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 8px #719ECE;
}

.btn_resbtn_recover_pwd {
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background: #5CB85C;
  border: 2px solid #5CB85C;
  padding: 7px;
}

.div-lbl_error {
  color: #A94442;
}

.lbl_error {
  display: none;
}

.btncorners {
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  background: #5CB85C;
  border: 2px solid #5CB85C;
  padding: 7px;
}