<link rel="stylesheet" href="templates/forgetPassword/forgetPassword.css" type="text/css" />

<div class="container">
  <div class="row wrapper_recover">
    <div class="row-sm-4">
      <label class="lbl_heading">Recover Password</label>
    </div>
    <div class="form-group txtemail">
      <input id="txtemail" type="email" class="form-control " placeholder="eg:a@gmail.com">
    </div>

    <div class=" div-lbl_error">
      <label id="lbl_error" class="lbl_error lbl_content"> Invalid Email address </label>
    </div>
    <div class="form-group">
      <input type="button" id="btn_recover_pwd" class="btn_recover_pwd btncorners" value="Recover Password" />
    </div>
  </div>

</div>