<link rel="stylesheet" href="templates/forgetPassword/forgetPassword.css" type="text/css" />

    <div class="container">
        <div class="row">
            <div class="row-sm-4">
                <label>Recover Password</label>
            </div>
            <div class="form-group txtemail">
                <input id="txtemail" type="email" class="form-control " placeholder="eg:a@gmail.com">
            </div>
            
            <div  class="form-group div-lbl_error"> 
                <label id="lbl_error"class="lbl_error"> Invalid Email address </label>
            </div>
            <div class="form-group">
                <input type="button" id="btn_recover_pwd" class="btn_recover_pwd" value="Recover Password"/>
            </div>
        </div>

    </div>