
.top-div{
	margin-top:15px;
	margin-bottom:15px;
}
.logo{
	height:60%;
	margin-top:-8px;
}


.head_div {
    background-color:#667BFA;
	height:10%;

}

.img-circle {
    border-radius:50%;
	height:27%;
	margin-top:20px;
	margin-left:20px;
}
.flag{
	height:30%;
	margin-top:22px;
	
	
}
.img-online{
	height:12%;
	margin-bottom:-35px;
	margin-left:-17px;
}
.img-notification{
	height:30%;
	margin-top:10px;
	
	
}