
html,body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.flex-container{
  display:flex;
   height:80px;
  background-color:#667BFA;
  align-items: center;
}
.remark_logo{
height:40px;
}
.flex_sub1{
	padding-left:10px;
	min-width:75%
}
.remark{
	color:white;
	font-size:21px;
	font-weight:bold;
	margin-left:10px;
	margin-top: 8px;
}
.div-coin{
	display: inline-flex;
    align-items: center;
}
.round-img 
{
  height:30px;
  border-radius: 50%;
}
.div-online{
	margin-left: 20px;
	display: inline-block;
}
.img_online_icon{
	height:10px;
	width:10px;
	margin-left: -10px;
	margin-top: 19px;
}
.img_online{
	height: 25px;
}
.div_right_header{
	justify-content: center;
	display: inline-flex;
}
.div-img-online-circle{
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#DEDEDE ;
    border-radius: 25px;
}
.notification{
	position: absolute;
	height:20px;
}
.rcorner{
    border-radius: 500px;
    background: red;
    width: 20px;
    height: 20px;    
}
.notfication_lable{
	color: white;
    font-size: 11px;
    position: absolute;
    margin-top: -34px;
    padding: 4px;
	text-align:center;
	margin-left:19px;
    background: red;
    border-radius: 10px;
    width: 12px
}
.div-msg{
	height: 20px;
	width: 20px;
	margin-left: 10px;
	
}
.img-msg{
	position: absolute;
}
.msg_lable{
	color: white;
    font-size: 11px;
    position: absolute;
    margin-top: -34px;
    padding: 4px;
	margin-left:19px;
    background: green;
    border-radius: 10px;
    width: 12px;
	text-align:center;
	
}
.div-chat{
	margin-left: 10px;
	display: inline-block;
	height: 20px; 
	width: 20px;
}
.img-chat{
	position: absolute;
}
.flex-container_sec{
  display:flex;
  height:67px;
  background-color:#FFFFFF;
  align-items: center;
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
}
.logo{
	height:34px;
	margin-left:35px;
}
.arrow{
	height:13px;
}
.arrow_margin{
    margin-top: 4px;
    margin-left: 10px;
}
.arrow_margin2{
	margin-top:4px;
	margin-left:138px;
}
.arrow_margin3{
	margin-top:4px;
	margin-left:90px;
}
.div-bitcoin_logo{
}
.bitcoin_txt{
	color:#6E82FA;
}
.lable_txt{
	color:#63646E;
}
.lbl-txt-unchecked{
	color: #85909B;
}
.logo_label{
	font-size:21px;
	font-weight:bold;
	margin-left:10px;
}
.last_div{
	background-color:#F2F4F5;
	margin-top: 2px;
	padding-top:30px ;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
}
.internal{
		background-color:#FFFFFF;
		align:center;
		padding: 30px;   
}
.internal_sub{
	margin:10px;
}
.btn_txt{
		color:#F2F4F5;
}
.div-remark{
	display: inline-flex;
	min-width: 83%;;
}

.margin-left{
margin-left:23px;
}

ul {
	
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0
}

li {
    float: left;
	text-align: right;
    border: 1px solid black;
	flex: 1;
}

.li-a_quick_buy{
	font-size: 15px;
	font-weight:bold;
	text-align: right;
	color:#63646E;
}
.li-a_quick_sell{
		text-align: left;
		font-weight:bold;
		font-size: 15px;
		color:#6E82FA;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.li-quick_buy{
	text-align: right;
	border: 2px solid #6E82FA; 
	border-bottom: none;
	border-right:none;
}
.li-quick_sell{
	border-bottom: 2px solid #6E82FA;
	border-left: 2px solid #6E82FA;
	border-top:none;
	border-right:none;
}
.amt{
	padding: 12px;
	width: 250px;
}
.div-txt_amt{
	margin-left:24px;
	width: 100%;
}
.div-content{
	padding-top: 40px;
	width: 100%;
    border: 2px solid #6E82FA;
    border-top: none;
	padding-bottom:40px;
}
.rcorners{
    border-radius: 5px;
	border: 2px solid #6E82FA;
    height: 10px; 
}
.tab_content_txt{
color:#9a9cad;
width: 20%;
font-weight:bold;
}

.select_one{
	margin-left: 5px;
	color:#9a9cad;
	font-weight:bold;
	border-radius: 5px;
	border: 2px solid #6E82FA;
	padding:8px;
	width: 10%;
}
.select_country{
	color:#9a9cad;
	font-weight:bold;
	margin-left: 5px;
	border-radius: 5px;
	border: 2px solid #6E82FA;
	padding:8px;
	width: 26%;
}
.select_offers{
	color:#9a9cad;
	margin-left: 5px;
	font-weight:bold;
	border-radius: 5px;
	border: 2px solid #6E82FA;
	padding:8px;
	width: 26%;
}
.search_btn{
	color:#ef6a6a;
	font-weight:bold;
	margin-left: 5px;
	border-radius: 5px;
	background:white;
	border: 2px solid #efc1c1;
	padding:12px;
	width:10%;
}
.header_right_icon{
	margin-left: 10px;
	display: inline-block;
	height: 23px; 
	margin-top: 5px;
	width: 23px;
}

.div-heading{
	margin-top:30px;
}
.heading{
	color:#1e203e;
	font-size:30px;
	font-weight:bold;
}
.div-flex_heading{
    border: 2px solid #F2F4F5;
	margin-top:10px;
	 border-right:none;
	 border-bottom:none;
	 border-left:none;
}
.div-tab label{
	font-size:1.1em;
}
.div-content label{
	font-size:1.1em;
}

.div-flex_heading label{
	font-size:1.1em;
}

.div-flexheadingSub{
	 display:flex;
	 padding:3px;
	 border: 2px solid #DEDEDE;
	 border-top:none;
	 border-left:none;
	 border-right:none;
	 background-color:#F9F9F9;

}
.title1{
	padding-left:10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight:bold;
	color:#1e203e;
	 flex: 2;
}
.title2{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight:bold;
	color:#1e203e;
	 flex: 2;
}.title3{

	padding-top: 5px;
	padding-bottom: 5px;
	font-weight:bold;
	color:#1e203e;
	 flex: 1;
}.title4{
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight:bold;
	color:#1e203e;
	 flex: 1;
}
.title5{
    margin-right: 82px;;
	font-weight:bold;

	color:#1e203e;
	 flex: 0;
}
.flex_row_title{
	padding:10px;
	padding-left:0px;
	font-weight:bold;
	color:#6E82FA;
	 flex: 2;
}
.flex_row_title_value{
	padding-left:10px;
	
}
.flex_row_payment-method{
		padding:10px;
	padding-left:0px;
	font-weight:bold;
	font-size:15px;
	color:#6E82FA;
	 flex: 2;
}
.flex_row_limits{
	padding:10px;
	padding-left:0px;
	font-weight:bold;
	font-size:15px;
	color:#6E82FA;
	 flex: 1;
}
.flex_row_btn-buy{
	margin:5px;
	font-weight:bold;
	font-size:15px;
	color:#6E82FA;
	 flex: 0;
}
.div-flexrow{
	display:flex;
	 border: 2px solid #DEDEDE;
	 border-top:none;
	 border-left:none;
	 border-right:none;
	 background: white;
/* 	 background:#EFEFFF;
 */	
  justify-content: center;
	   align-items: center;
	flex-direction: row;
}
.div-flexrow:nth-child(even){
	background: white;
}
.div-flexrow:nth-child(odd){
	background: #F9F9F9;
}
.div-flexrow:hover{
	background:#EFEFFF;
}
.flex_heading_sub{
	flex:1;
	display:flex;
	color:green;
	font-size:18px;
	font-weight:bold;
	flex-direction: column;
}
.btncorners{
    border-radius: 4px; 
	color:#1e203e;
	font-weight:bold;
	font-size:14px;
	background:white;
	border: 2px solid #DEDEDE;
    padding: 15px; 
    width: 70px;  
}
.setting_img{
	height: 20px;
}

.div-setting-icon{
    position: fixed;
	top: 170px;
	right:-10px;
	background: white;
	padding: 15px;
	border: 2px solid #F2F4F5;
}