.home_template_wrapper {
  font-size: 10px;
}

.trade-tabs {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0
}

.trade-tabs li {
  float: left;
  flex: 1;
  color: #6E82FA;
  cursor: pointer;
}

.trade-tabs li.active {
  color: white;
}

.li-quick_sell {
  text-align: left;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.li-quick_sell.active {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: none;
}

.li-quick_buy {
  border-left: none;
  border-bottom: 2px solid white;
  border-right: none;
  text-align: right;
}

.div-flex_basis {
  margin-left: 10px;
  flex-basis: 400px;
}

.div-flex_basis_currency {
  margin-left: 19px;
  flex-basis: 125px;
}

.fullwidth {
  width: 100% !important;
}

.li-quick_buy.active {
  border: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.div-tab li {
  padding: 10px;
  font-weight: bolder;
}

.div-content {
  padding-top: 40px;
  border: 2px solid white;
  border-top: none;
  padding-bottom: 40px;
}

.div-quick-buy_data {
  display: flex;
  /* justify-content: space-around; */
  /* width: 100%; */
}

.quick-buy_data_padding {
  padding: 8px;
}

::placeholder {
  color: black !important;
  opacity: 1;
}

.amt {
  margin-left: 10px;
  padding: 10px !important;
  background: white !important;
  /* color: #22b9ff !important; */
}


/* .mCSB_draggerContainer {
  display: none;
} */


/* .tab_content_txt {
  color: #9a9cad;
  font-weight: bold;
} */

.select_one {
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  width: 10%;
}

.select_country {
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  width: 26%;
}

.select_offers {
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.down-arrow-header {
  margin-top: 3px !important;
  color: black !important;
}

.search_btn {
  margin-left: 5px;
  background: white;
  border: 1px solid #f0f0f0;
  width: 10%;
}

.div-heading {
  margin-top: 30px;
}

.div-heading label {
  font-size: 1.8em;
}

.heading {
  color: #1e203e;
  text-transform: capitalize;
}

.div-flex_heading {
  border: 2px solid #F2F4F5;
  margin-top: 10px;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.div-content label {
  /*   font-size: 1.3em;
 */
}

.div-flex_heading label {
  /*   font-size: 1.3em;
 */
}

.div-flex_heading input {
  /*   font-size: 1.3em;
 */
}

.div-content-Center {
  justify-content: center!important;
  display: flex!important;
}

.footer_block_height {
  height: 0 !important;
}

.div-flexheadingSub {
  display: flex;
  padding: 3px;
  border: 2px solid #DEDEDE;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #F9F9F9;
}

.title5 {
  margin-right: 82px;
  ;
  font-weight: bold;
  color: #1e203e;
  flex: 0;
}

.flex_row_title {
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
  color: #6E82FA;
  flex: 2;
}

.flex_row_title_value {
  padding-left: 10px;
}

.flex_row_payment-method {
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
  color: #6E82FA;
  flex: 2;
}

.flex_heading_sub {
  flex: 1;
  display: flex;
  color: green;
  font-weight: bold;
  flex-direction: column;
}

.flex_row_limits {
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
  color: #6E82FA;
  flex: 1;
}

.showMore {
  font-size: 17px !important;
  color: white !important;
  margin-top: 15px !important;
}

.flex_row_btn-buy {
  margin: 7px;
  font-weight: bold;
  color: #6E82FA;
  flex: 0;
}

.btn_trade_type {
  text-transform: capitalize;
}

.btncorners {
  color: white;
  background: #22b9ff;
  border: 1px solid #DEDEDE;
  padding: 7px;
  width: 70px;
}

.div-flexrow:nth-child(odd) {
  background: white;
}

.div-flexrow:nth-child(even) {
  background: #F9F9F9;
}

.div-flexrow:hover {
  background: #EFEFFF;
}

.div-flexrow:hover {
  background: #EFEFFF;
}

.quick-buy_data_padding:focus {
  outline: 0;
}

.active {
  display: block;
}

.hidden,
#mCSB_5_scrollbar_horizontal {
  display: none !important;
}

.m-datatable__pager {
  display: none !important;
}

#m_aside_left {
  display: none !important;
}

.m-menu__item--active {
  color: #22b9ff !important;
}

.btn-dropdown {
  padding: 9px;
  BORDER: none;
  outline: none !important;
  color: #22b9ff;
}

.btn-dropdown-bg {
  border-radius: 25px;
  background: #ffa3a31c;
}

.btn-dropdown-bgheader {
  background: white;
  border-radius: 5px;
  color: black;
}

.span-dropdown {
  padding: 10px;
}

.div-dropdown {
  height: 140px;
  margin-top: 10px;
  position: absolute;
  transform: translate3d(15px, 40px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.label-dropdown {
  margin-top: .3rem !important;
  margin-bottom: .3rem!important;
}

.ul-dropdown {
  width: 100% !important;
  padding: 0;
}

.li-dropdown-item {
  margin-top: 10px !important;
  padding-top: 5px !important;
  width: 100% !important;
  padding-bottom: 5px !important;
  /* font-size: 10px !important; */
}

.li-dropdown-item:focus,
.li-dropdown-item:hover {
  color: #22b9ff !important;
  text-decoration: none !important;
  background-color: #ffa3a31c !important;
}


/* .custom-dropdown-toggle {
  position: relative;
  outline: none !important;
  padding: 0.65rem 1rem;
  padding-right: 1.85rem;
  -webkit-border-radius: 0.25rem!important;
  -moz-border-radius: 0.25rem!important;
  -ms-border-radius: 0.25rem!important;
  -o-border-radius: 0.25rem!important;
  border-radius: 0.25rem!important;
}
 */


/* .mCSB_draggerContainer {
  display: none !important;
} */

.custom-m-menu__hor-arrow {
  color: #22b9ff !important;
}

.custom-la-angle-down:before {
  content: "\f110" !important;
}

.custom-dropdown-toggle:after {
  ition: absolute !important;
  marfont-family: "LineAwesome" !important;
  text-decoration: inherit !important;
  text-rendering: optimizeLegibility !important;
  text-transform: none !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  content: none !important;
  border: 0 !important;
  top: 50% !important;
  posgin-top: 0 !important;
  font-size: 0.85rem !important;
  right: 1.85rem !important;
  display: inline-block !important;
}


/* 
.container ul::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  border: 1px dashed red;
} */

.div-dropdown>span::before {
  display: inline-block;
  font-family: "Metronic";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 0px;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "";
  position: relative;
  top: 0;
  margin-top: 20px;
  font-size: 40px;
}

.div-dropdown>span {
  width: 10px;
  height: 40px;
  position: relative;
  left: auto;
  right: 0;
  margin-left: auto;
  margin-right: -9px;
  position: absolute;
  top: 2px;
  left: auto;
  right: -2px;
  margin: 0px -7px 0 0;
  display: none;
}

.scrollbar {
  height: 300px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}