.home_template_wrapper {
  font-size: 10px;
}

.trade-tabs {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin-bottom: 0
}

.trade-tabs li {
  float: left;
  flex: 1;
  color: #6E82FA;
  cursor: pointer;
}

.trade-tabs li.active {
  color: white;
}

.li-quick_sell {
  text-align: left;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.li-quick_sell.active {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: none;
}

.li-quick_buy {
  border-left: none;
  border-bottom: 2px solid white;
  border-right: none;
  text-align: right;
}

.div-flex_basis {
  margin-left: 10px;
  flex-basis: 400px;
}

.div-flex_basis_currency {
  margin-left: 19px;
  flex-basis: 125px;
}

.fullwidth {
  width: 100% !important;
}

.li-quick_buy.active {
  border: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.div-tab li {
  padding: 10px;
  font-weight: bolder;
}

.div-content {
  padding-top: 40px;
  border: 2px solid white;
  border-top: none;
  padding-bottom: 40px;
}

.div-quick-buy_data {
  display: flex;
  /* justify-content: space-around; */
  /* width: 100%; */
}

.quick-buy_data_padding {
  padding: 8px;
}

::placeholder {
  color: black !important;
  opacity: 1;
}

.amt {
  margin-left: 10px;
  padding: 10px !important;
  background: white !important;
  /* color: #22b9ff !important; */
}


/* 
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans', sans-serif;
}

.popup-box {
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  bottom: 0;
  display: none;
  height: 415px;
  position: fixed;
  right: 70px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}

.round.hollow {
  margin: 40px 0 0;
}

.round.hollow a {
  border: 2px solid #ff6701;
  border-radius: 35px;
  color: red;
  color: #ff6701;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.round.hollow a:hover {
  border: 2px solid #000;
  border-radius: 35px;
  color: red;
  color: #000;
  font-size: 23px;
  padding: 10px 21px;
  text-decoration: none;
}

.popup-box-on {
  display: block !important;
}

.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #7b7b7b;
  display: inline-table;
  font-size: 21px;
  padding: 7px 10px;
  width: 100%;
  font-family: Oswald;
}

.bg_none i {
  border: 1px solid #ff6701;
  border-radius: 25px;
  color: #ff6701;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}

.bg_none:hover i {
  border: 1px solid #000;
  border-radius: 25px;
  color: #000;
  font-size: 17px;
  height: 33px;
  line-height: 30px;
  width: 33px;
}

.bg_none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

.popup-box .popup-head .popup-head-right {
  margin: 11px 7px 0;
}

.popup-box .popup-messages {}

.popup-head-left img {
  border: 1px solid #7b7b7b;
  border-radius: 50%;
  width: 44px;
}

.popup-messages-footer>textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
}

.popup-messages-footer {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
}

.simple_round {
  background: #d1d1d1 none repeat scroll 0 0;
  border-radius: 50%;
  color: #4b4b4b !important;
  height: 21px;
  padding: 0 0 0 1px;
  width: 21px;
}

.popup-box .popup-messages {
  background: #3f9684 none repeat scroll 0 0;
  height: 275px;
  overflow: auto;
}

.direct-chat-messages {
  overflow: auto;
  padding: 10px;
  transform: translate(0px, 0px);
}

.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}

.popup-messages abbr.timestamp {
  background: #3f9684 none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}

.popup-head-right .btn-group {
  display: inline-flex;
  margin: 0 8px 0 0;
  vertical-align: top !important;
}

.chat-header-button {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #636364;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  width: 30px;
}

.popup-head-right .btn-group .dropdown-menu {
  border: medium none;
  min-width: 122px;
  padding: 0;
}

.popup-head-right .btn-group .dropdown-menu li a {
  font-size: 12px;
  padding: 3px 10px;
  color: #303030;
}

.popup-messages abbr.timestamp {
  background: #3f9684 none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}

.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}

.popup-messages .direct-chat-messages {
  height: auto;
}

.popup-messages .direct-chat-text {
  background: #dfece7 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
  color: #fff;
  opacity: 0.6;
}

.popup-messages .direct-chat-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 49px !important;
  color: #fff;
  opacity: 0.9;
}

.popup-messages .direct-chat-info {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}

.popup-messages .big-round {
  margin: -9px 0 0 !important;
}

.popup-messages .direct-chat-img {
  border: 1px solid #fff;
  background: #3f9684 none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -21px 0 0;
  width: 40px;
}

.direct-chat-reply-name {
  color: #fff;
  font-size: 15px;
  margin: 0 0 0 10px;
  opacity: 0.9;
}

.direct-chat-img-reply-small {
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 0 8px;
  width: 20px;
  background: #3f9684;
}

.popup-messages .direct-chat-msg {
  margin-bottom: 10px;
  position: relative;
}

.popup-messages .doted-border::after {
  background: transparent none repeat scroll 0 0 !important;
  border-right: 2px dotted #fff !important;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}
 */


/* .popup-messages .direct-chat-msg::after {
  background: #fff none repeat scroll 0 0;
  border-right: medium none;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
} */


/* 
.direct-chat-text::after,
.direct-chat-text::before {
  border-color: transparent #dfece7 transparent transparent;
}

.direct-chat-text::after,
.direct-chat-text::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #d2d6de transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}

.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}

.popup-messages .direct-chat-text {
  background: #dfece7 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}

.direct-chat-text {
  background: #d2d6de none repeat scroll 0 0;
  border: 1px solid #d2d6de;
  border-radius: 5px;
  color: #444;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}
 */


/* 
.popover>.arrow {
  border-width: 11px !important;
}

.popover>.arrow,
.popover>.arrow:after {
  position: absolute !important;
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  border-color: transparent !important;
  border-style: solid !important;
}

.popover.right>.arrow {
  top: 50% !important;
  left: -11px !important;
  margin-top: -11px !important;
  border-right-color: #999 !important;
  border-right-color: rgba(0, 0, 0, .25) !important;
  border-left-width: 0 !important;
}
 */


/* 
.popover {
  width: 500px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1060 !important;
  display: none !important;
  min-width: 50% !important;
  padding: 1px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: left !important;
  text-align: start !important;
  text-decoration: none !important;
  text-shadow: none !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  word-break: normal !important;
  word-spacing: normal; 
  word-wrap: normal !important;
  white-space: normal !important;
  background-color: #fff !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, .2) !important;
  border-radius: 6px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2) !important;
  line-break: auto !important; 
} */


/* .fade.in {
  opacity: 1 !important;
}

.popover.right {
  margin-left: 10px !important;
}
 */

.hidden {
  display: none;
}


/* .tab_content_txt {
  color: #9a9cad;
  font-weight: bold;
} */

.select_one {
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  width: 10%;
}

.select_country {
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  width: 26%;
}

.select_offers {
  margin-left: 5px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.down-arrow-header {
  margin-top: 3px !important;
  color: black !important;
}

.search_btn {
  margin-left: 5px;
  background: white;
  border: 1px solid #f0f0f0;
  width: 10%;
}

.div-heading {
  margin-top: 30px;
}

.div-heading label {
  font-size: 1.8em;
}

.heading {
  color: #1e203e;
  text-transform: capitalize;
}

.div-flex_heading {
  border: 2px solid #F2F4F5;
  margin-top: 10px;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.div-content label {
  /*   font-size: 1.3em;
 */
}

.div-flex_heading label {
  /*   font-size: 1.3em;
 */
}

.div-flex_heading input {
  /*   font-size: 1.3em;
 */
}

.div-content-Center {
  justify-content: center !important;
  display: flex !important;
}

.footer_block_height {
  height: 0 !important;
}

.div-flexheadingSub {
  display: flex;
  padding: 3px;
  border: 2px solid #DEDEDE;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #F9F9F9;
}

.title5 {
  margin-right: 82px;
  ;
  font-weight: bold;
  color: #1e203e;
  flex: 0;
}

.flex_row_title {
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
  color: #6E82FA;
  flex: 2;
}

.flex_row_title_value {
  padding-left: 10px;
}

.flex_row_payment-method {
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
  color: #6E82FA;
  flex: 2;
}

.flex_heading_sub {
  flex: 1;
  display: flex;
  color: green;
  font-weight: bold;
  flex-direction: column;
}

.flex_row_limits {
  padding: 10px;
  padding-left: 0px;
  font-weight: bold;
  color: #6E82FA;
  flex: 1;
}

.showMore {
  font-size: 17px !important;
  color: white !important;
  margin-top: 15px !important;
}

.flex_row_btn-buy {
  margin: 7px;
  font-weight: bold;
  color: #6E82FA;
  flex: 0;
}

.btn_trade_type {
  text-transform: capitalize;
}

.btncorners {
  color: white;
  background: #22b9ff;
  border: 1px solid #DEDEDE;
  padding: 7px;
  width: 70px;
}

.div-flexrow:nth-child(odd) {
  background: white;
}

.div-flexrow:nth-child(even) {
  background: #F9F9F9;
}

.div-flexrow:hover {
  background: #EFEFFF;
}

.div-flexrow:hover {
  background: #EFEFFF;
}

.quick-buy_data_padding:focus {
  outline: 0;
}

.active {
  display: block;
}

.hidden,
#mCSB_5_scrollbar_horizontal {
  display: none !important;
}

.m-subheader-search {
  background: #564FC1 !important;
  padding: 40px 30px 40px 30px;
}

.m-datatable__pager {
  display: none !important;
}

#m_aside_left {
  display: none !important;
}

.m-menu__item--active {
  color: #22b9ff !important;
}

.btn-dropdown {
  padding: 9px;
  BORDER: none;
  outline: none !important;
  color: #22b9ff;
}

.btn-dropdown-bg {
  border-radius: 25px;
  background: #ffa3a31c;
}

.btn-dropdown-bgheader {
  background: white;
  border-radius: 5px;
  color: black;
}

.span-dropdown {
  padding: 10px;
}

.div-dropdown {
  height: 140px;
  margin-top: 10px;
  position: absolute;
  transform: translate3d(15px, 40px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.label-dropdown {
  margin-top: .3rem !important;
  margin-bottom: .3rem !important;
}

.ul-dropdown {
  width: 100% !important;
  padding: 0;
}

.li-dropdown-item {
  margin-top: 10px !important;
  padding-top: 5px !important;
  width: 100% !important;
  padding-bottom: 5px !important;
  /* font-size: 10px !important; */
}

.li-dropdown-item:focus,
.li-dropdown-item:hover {
  color: #22b9ff !important;
  text-decoration: none !important;
  background-color: #ffa3a31c !important;
}

.m-login-to-center {
  display: flex;
  width: 100% !important;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.login-wrapper {
  padding-top: 10px !important;
}

.btn_proprty {
  text-align: right;
}

.m-portlet--full-height {
  margin-bottom: 5.2rem;
}

.center_btn {
  display: flex;
  justify-content: center;
}

.trade-type-head {
  padding: 0px !important;
}

.signup-head {
  padding: 5rem 11rem !important;
}


/* .custom-dropdown-toggle {
  position: relative;
  outline: none !important;
  padding: 0.65rem 1rem;
  padding-right: 1.85rem;
  -webkit-border-radius: 0.25rem!important;
  -moz-border-radius: 0.25rem!important;
  -ms-border-radius: 0.25rem!important;
  -o-border-radius: 0.25rem!important;
  border-radius: 0.25rem!important;
}
 */


/* .mCSB_draggerContainer {
  display: none !important;
} */

.custom-m-menu__hor-arrow {
  color: #22b9ff !important;
}

.custom-la-angle-down:before {
  content: "\f110" !important;
}

.custom-dropdown-toggle:after {
  ition: absolute !important;
  marfont-family: "LineAwesome" !important;
  text-decoration: inherit !important;
  text-rendering: optimizeLegibility !important;
  text-transform: none !important;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
  font-smoothing: antialiased !important;
  content: none !important;
  border: 0 !important;
  top: 50% !important;
  posgin-top: 0 !important;
  font-size: 0.85rem !important;
  right: 1.85rem !important;
  display: inline-block !important;
}


/*
.container ul::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  border: 1px dashed red;
} */

.div-dropdown>span::before {
  display: inline-block;
  font-family: "Metronic";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 0px;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  content: "ï†³";
  position: relative;
  top: 0;
  margin-top: 20px;
  font-size: 40px;
}

.div-dropdown>span {
  width: 10px;
  height: 40px;
  position: relative;
  left: auto;
  right: 0;
  margin-left: auto;
  margin-right: -9px;
  position: absolute;
  top: 2px;
  left: auto;
  right: -2px;
  margin: 0px -7px 0 0;
  display: none;
}

.scrollbar {
  height: 300px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}