<link rel="stylesheet" href="templates/home/index.css" type="text/css" />

<div class="home_template_wrapper">
  <div class="div-tab">
    <ul class="trade-tabs">
      <li class="li-quick_buy active lbl_heading">QUICK BUY</li>
      <li class="li-quick_sell lbl_heading">QUICK SELL</li>
    </ul>
  </div>
  <div class="div-content">
    <div id="quick_buy" class="div-quick-buy_data  ">
      <input type="text" name="txt_amt" value="Amount" class="quick-buy_data_padding  tab_content_txt  amt">
      <select class="select_one quick-buy_data_padding">
            <option value="GBP">GBP</option>
            <option value="GBP">GBP</option>
            <option value="GBP">GBP</option>
            <option value="GBP">GBP</option>
        </select>
      <select class="select_country  quick-buy_data_padding">
            <option value="United Kingdom">United Kingdom</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United Kingdom">United Kingdom</option>
        </select>
      <select class="select_offers  quick-buy_data_padding">
            <option value="All Online Offers">All Online Offers</option>
            <option value="All Online Offers">All Online Offers</option>
            <option value="All Online Offers">All Online Offers</option>
            <option value="All Online Offers">All Online Offers</option>
        </select>
      <input type="button" name="search_btn" value="Search" class="search_btn  quick-buy_data_padding" />
    </div>
  </div>

  <div class="tradeData">
    <div class="div-bitcointradeData">
      <div class="div-tradeheader">
      </div>
      <div class="trade_block">
      </div>
    </div>

    <!-- <div class="div-heading">
        <label class="heading lbl_heading">Buy Bitcoins Online In United Kingdom</label>
      </div>
      <div class="div-flex_heading">
        <div class="div-flexheadingSub ">
          <div class="title_seller"><label>Seller</label></div>
          <div class="title_payment_method "><label>Payment Method</label></div>
          <div class="title_price"><label>Price / BTC</label></div>
          <div class="title_limits"><label>Limits</label></div>
          <div class="title5 "><label></label></div>
        </div>
        <div id="trade_block">
  
        </div>
  
        <div class="div-flexrow ">
            <div class="flex_row_title">
                <label class="flex_row_title_value font_txt_size">kyleb(30+;100%)</label>
                <img src="img/Green_ball.png" style="height:10px;width:10px;"></img>
            </div>
            <div class="flex_row_payment-method">
                <label>National bank transfer:</label>
                <label class="tab_content_txt">United Kingdom</label>
            </div>
            <div class="flex_heading_sub">
                <div><label>7,757.86</label></div>
                <div><label>GBP</label></div>
            </div>
            <div>
              <div class="flex_row_limits"><label>300-2,172GBP</label></div>
              <div class="flex_row_btn-buy"><input type="button" value="Buy" class="btncorners" /></div>
            </div>
          </div>
    </div>
   -->
    <div class="div-litecointradeData hidden" data-frame="litecoin">
      <div class="div-tradeheader">
      </div>
      <div class="trade_block">
      </div>
    </div>
    <div class="div-monerotradeData hidden" data-frame="monero">
      <div class="div-tradeheader">
      </div>
      <div class="trade_block">
      </div>
    </div>
    <div class="div-classifiedtradeData hidden" data-frame="classified">
      <div class="div-tradeheader">
      </div>
      <div class="trade_block">
      </div>
    </div>
  </div>




  <span class="div-setting-icon">
    <img src="img/settings.png" class="img-setting">
</span>