input[type=password]:focus { 
	background: #FAFFBD;
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 8px #719ECE;
}
.btn_reset_pwd{
    border-radius: 3px; 
	color:white;
	font-weight:bold;
	font-size:14px;
	background:#5CB85C;
	border: 2px solid #5CB85C;
    padding: 7px; 
}
.div-lbl_error{
	font-size:1.3em;
	color:red;
}
.lbl_error{
	display: none;
}