<link rel="stylesheet" href="templates/register/register.css" type="text/css" />

<div class="div-registraion">

  <div class="div-lblreg">
    <label class="lbl_reg lbl_heading">  Register a new account</label>
  </div>
  <div class="div-lbl">
    <label class="lbl2_reg lbl_subheading"> Sign up for a user account to start buying or selling bitcoins</label>
  </div>
  <div class="div-lbl">
    <label class="lbl"> First Name*</label>
  </div>
  <div class="div-lblinput">
    <input type="text" id="firsttxtlogin" class="form-control " />
  </div>
  <div class="div-lbl">
    <label class="lbl"> Last Name*</label>
  </div>
  <div class="div-lblinput">
    <input type="text" id="secondtxtlogin" class="form-control " />
  </div>
  <div class="div-lbl">
    <label class="lbl"> Email*</label>
    <label id="lbl-reg-emailId" class="lbl-already-reg">
                    Already registerd Email-ID </label>

  </div>
  <div class="div-lblinput form-group">
    <input type="email" id="txtemail" class="form-control " placeholder="eg:a@gmail.com" />

  </div>
  <div class="div-lbl">
    <label class="lbl"> Password*</label>
  </div>
  <div class=" form-group div-lblinput">

    <input type="password" id="txtpwd" class="form-control " placeholder="must have more than 6 characters" />
  </div>
  <div class="div-lbl">
    <label class="lbl"> Confirm password*</label>
  </div>
  <div class="div-lblinput form-group">
    <input type="password" id="txtpwd2" class="form-control " />
  </div>
  <div class="div-lbl_error">
    <label id="lbl_error" class="lbl_error lbl_content"></label>
  </div>
  <div class="div-btn_login">
    <input type="button" id="btnregister" class="btncorners div-lblinput" value="Register" />
  </div>

  <div class="div-bottom">
    <label class="lbl_msg"> Already have an account?</label>
    <label class="lbl_redirect lbl_redirect_login">Log In.</label>
  </div>
  <div class="div-bottom">
    <label class="lbl_msg">Forget password?</label>
    <label class="lbl_redirect lbl_redirect_reset_pwd">Reset your password</label>
  </div>
</div>