<link rel="stylesheet" href="templates/user/dashboard.css" type="text/css" />

<div class="div-dashboard-main">
    <div class="div-nav">
        <div class="div-nav-title">
            <label class="nav-title-color">Balag</label>
            <div>
                 <img src="img/like-thumb-up.png" class="dash-icon"></img>
                <label class="nav-title-color">New User</label>
            </div>
        </div>
         <div class="div-nav-tab">
                <div class="nav-tab-dashboard">
                    <img src="img/dashboard.png" class="dash-icon"></img>
                    <label class="dash-tab-title">Dashboard</label>
                </div>
                <div class="nav-tab-dashboard">
                    <img src="img/profile-setting.png" class="dash-icon"></img>
                    <label class="dash-tab-title">profile-setting</label>
                </div>
                 <div class="nav-tab-dashboard">
                    <img src="img/bitcoin-logo.png" class="dash-icon"></img>
                    <label class="dash-tab-title">Bitcoin Wallet</label>
                 </div>
                </div>
         </div>
    <div class="div-dashboard-frame">
        <div class="div-trade">
            <div class="div-buy-trade">

            </div>
            <div class="div-sell-trade">

            </div>
            <div class="div-my-trade">

            </div>

        </div>


    </div>
</div>