<link rel="stylesheet" href="templates/user/dashboard.css" type="text/css" />

<div class="div-dashboard-main">
  <div class="div-nav">
    <div class="div-nav-title rounded_corner">
      <label class="nav-title-color lbl-balag lbl_heading">Balag</label>
      <div class="nav-title-newuser">
        <img src="img/like-thumb-up.png" class="dash-icon-like"></img>
        <label class="nav-title-color lbl-newuser">New User</label>
      </div>
    </div>
    <div class="div-nav-tab rounded_corner">
      <div class="nav-tab-dashboard active_tab ">
        <span class="glyphicon glyphicon-th-list dashboard_menu_icon"></span>
        <label class="dash-tab-title">Dashboard</label>
      </div>
      <div class="nav-tab-dashboard div-dashboard-tab-bg">
        <!-- <img src="img/profile-setting.png" class="dash-icon"></img> -->
        <span class="glyphicon glyphicon-cog dashboard_menu_icon"></span>
        <label class="dash-tab-title ">profile-setting</label>
      </div>
      <div class="nav-tab-dashboard">
        <!-- <img src="img/bitcoin-logo.png" class="dash-icon"></img> -->
        <span class="glyphicon glyphicon-bitcoin dashboard_menu_icon"></span>
        <label class="dash-tab-title">Bitcoin Wallet</label>
      </div>
      <div class="nav-tab-dashboard div-dashboard-tab-bg">
        <!--          <img src="img/messages.png" class="dash-icon"></img> -->
        <span class="glyphicon glyphicon-envelope dashboard_menu_icon"></span>
        <label class="dash-tab-title">Messages</label>
      </div>
      <div class="nav-tab-dashboard">
        <span class="glyphicon glyphicon-log-out dashboard_menu_icon"></span>

        <label class="dash-tab-title">Logout</label>
      </div>
    </div>
  </div>
  <div class="div-dashboard-frame">
    <div class="div-trade">
      <div class="div-buy-trade rounded_corner">
        <div class="img-trade circle">
          <img src="img/buy-trade.png" class="img-trade-icons"></img>
        </div>
        <div class="img-trade">
          <label class="trade-title">Buy Trade Posted</label>
          <div>
            <label class="trade-title lbl-title_count--font">4 Trade Posted</label>
          </div>
        </div>
      </div>
      <div class="div-sell-trade rounded_corner">
        <div class="img-trade circle">
          <img src="img/sell_trade.png" class="img-trade-icon"></img>
        </div>
        <div class="img-trade">
          <label class="trade-title">Sell Trade Posted</label>
          <div>
            <label class="trade-title lbl-title_count--font">0 Trade Posted</label>
          </div>
        </div>
      </div>
      <div class="div-my-trade rounded_corner">
        <div class="img-trade circle">
          <img src="img/eye.png" class="img-trade-icon"></img>
        </div>
        <div class="img-trade">
          <label class="trade-title">My Trades</label>
          <div>
            <label class="trade-title lbl-title_count--font">16 Trades</label>
          </div>
        </div>
      </div>
    </div>
    <div class="div-frame-data">
      <div class="div-frame-feedback rounded_corner">
        <div class="div-frame-head rounded_corner">
          <label class="div-frame-head-title-color lbl-balag lbl_heading">People Feedback</label>
          <div class="div-img-update-circle"><img src="img/update-arrows.png" class="img-update" /></div>
        </div>
        <div class="div-frame-feedback-data rounded_corner">
          <div class="div-frame-feeback-response rounded_corner">
            <div class="feedback-no_response rounded_corner">
              <img src="img/information.png" class="img-feedback-info_logo" />
              <label class="lbl-feedback-no_response lbl-bold">Yet No Feddback</label>
            </div>
          </div>
        </div>
      </div>
      <div class="div-frame-chat rounded_corner lbl_content">
        <div class="div-frame-head ">
          <label class="div-frame-head-title-color lbl-balag lbl_heading">Recent Chats</label>
          <div class="div-img-update-circle"><img src="img/update-arrows.png" class="img-update" /></div>
        </div>
        <div class="div-frame-chat-data rounded_corner scrollbar " id="style-1">
          <div class="force-overflow">
            <div class="div-frame-chat-response ">
              <div><label class="lbl-recent-chat-id lbl-bold recent_chat_row">#204465180215</label></div>
              <div><label class="div-frame-head-title-color lbl-bold recent_chat_row">11 hours ago</label></div>
              <div><label class="div-frame-head-title-color lbl-bold recent_chat_row">test trade</label></div>
            </div>
            <div class="div-frame-chat-response">
              <div><label class="lbl-recent-chat-id lbl-bold recent_chat_row">#204465180215</label></div>
              <div><label class="div-frame-head-title-color lbl-bold recent_chat_row">11 hours ago</label></div>
              <div><label class="div-frame-head-title-color lbl-bold recent_chat_row">test trade</label></div>
            </div>
            <div class="div-frame-chat-response">
              <div><label class="lbl-recent-chat-id lbl-bold recent_chat_row">#204465180215</label></div>
              <div><label class="div-frame-head-title-color lbl-bold recent_chat_row">11 hours ago</label></div>
              <div><label class="div-frame-head-title-color lbl-bold recent_chat_row">test trade</label></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<span class="div-setting-icon">
    <img src="img/settings.png" class="img-setting">
</span>